<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SystemPropertiesChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <!-- DotNetVersionReleaseKeyMappingList  -->
    <add key="378389" value=".NET Framework 4.5"/>
    <add key="378675" value=".Net Framework 4.5.1"/>
    <add key="379893" value=".Net Framework 4.5.2"/>
    <add key="381029" value=".Net Framework 4.6 Preview"/>
    <add key="393273" value=".Net Framework 4.6 RC"/>
    <add key="393295" value=".Net Framework 4.6"/>
    <add key="394254" value=".Net Framework 4.6.1"/>
    <add key="394747" value=".Net Framework 4.6.2 Preview"/>
    <add key="394802" value=".Net Framework 4.6.2"/>
    <add key="460798" value=".Net Framework 4.7"/>
    <add key="461308" value=".Net Framework 4.7.1"/>
    <add key="461320" value="vNext"/>
  </appSettings>
  <runtime>
  </runtime>
  <userSettings>
    <SystemPropertiesChecker.Properties.Settings>
      <setting name="Accent" serializeAs="String">
        <value/>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value/>
      </setting>
    </SystemPropertiesChecker.Properties.Settings>
  </userSettings>
</configuration>
